[Desktop Entry]
Name=LightDM Tiny Greeter
Comment=Tiny GTK3 LightDM Greeter
Exec=kwin_wayland lightdm-tiny-greeter
Type=Application
X-LightDM-Session-Type=wayland
